
/* resets */
* {
    box-sizing: content-box;
    padding: 0;
    margin: 1%;
}

 /* global */
body {
    background-color: rgba(3, 5, 4, 0.966);
    font-family: Georgia, 'Times New Roman', Times, serif; 
    color: rgb(20, 19, 19);
    display: flex;
    flex-direction: column;
}

img {
    max-height: 300px;
}

section {
    background-color: rgba(189, 194, 190, 0.416);
}

 /*  header styles  */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px 3%;
    color: antiquewhite;
}

header nav ul {
    list-style-type: none;
    display: flex;
}

header nav ul li {
    width: 70%;
    display: inline-block;
    margin-right: 20px;
}

header nav a {
    color: antiquewhite;
    font-size: medium;
}

/* hero banner styles */
.hero-banner {
    text-align: center;
    color: rgb(138, 141, 141);
}


 /*  about styles  */
.page-section {
    display: flex;
    justify-content: space-between;
    align-items: top;    
}

 /*  projects grid  */

 .work {
    display: grid;
    grid-gap: 0.5%;
    grid-template-columns: repeat(autofill, 1fr 1fr);
    color: antiquewhite;
 }

.a {
    grid-column: 1 / 3 ;
} 


.project {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
}


.project p {
    background-color: rgba(0, 0, 0, 0.219);
    color: antiquewhite;
    font-size: 24px;
}

 /*  contact styles  */

#contact { /*set on the id*/
    text-align: center;
}
#contact img {
    width: 20%;
}

#contact div {
    width: 20%;
}
